.comment-text {
    padding: 8px;
    /*width: 220px;*/
    overflow: overflow-x;
}

.comment-text:hover {
    color: #428bca;
    cursor: hand;
    cursor: pointer;
    text-decoration: underline;
}

#comments {
    overflow: scroll;
    width: 100%;
    display: inline-block;
    position: relative;
    /*padding: 10px;*/
}

.truncate {
  /*width: 250px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.compare-btn {
  margin-left: 8px;
  margin-bottom: 8px;
  position: relative;
}

.dropdown.priv {
  margin-top: 15px;
  margin-bottom: 100px;
}

.priv-choice {
  padding: 8px;
}

.priv-choice:hover {
  background-color: #CCFFFF;
  cursor: hand;
  cursor: pointer;
}

.priv-choice.selected {
  color: white;
  background-color: #428bca;
}

.coach-contact {
  font-style: italic;
  color: silver;
  font-size: 12px;
  padding-left: 8px;
  padding-bottom: 8px;
}

.videocontent {

}

.video-js .vjs-big-play-button {
  display:inline;
}
