.vjs-control-bar {

  opacity: 1.0;
}

/*Adapted from: https://css-tricks.com/text-blocks-over-image/;*/
#overlay { 
   position: absolute; 
   top: 20px; 
   left: 120px; 
   width: 100%;
   /*Adapted from: http://stackoverflow.com/questions/2570972/css-font-border;*/
  color: white;
  font-size:20pt;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}